/* Root */
:root {
  --primary-color: #12f601;

  --primary-bg-color: #000;
  --secondary-bg-color: #0d161c;

  --title-font: "Bebas Neue", sans-serif;
  --text-font: "Open Sans", sans-serif;
  --text-size: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
  color: white;
}

body {
  background-color: var(--primary-bg-color);
  padding-top: 70px;
}

h3,
h4,
p {
  font-size: var(--text-size);
}

.logo a {
  font-size: 35px;
  letter-spacing: 4px;
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--title-font);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8%;
  top: 0;
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1;
}

.selected-box {
  background-color: var(--secondary-bg-color);
  padding: 5px;
  border: var(--primary-color) 2px solid;
  border-radius: 20px;
  font-size: 1rem;
}

button {
  background-color: var(--secondary-bg-color);
  border: transparent;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 1rem;
  border: var(--primary-color) 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnIcon {
  height: 25px;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 5px;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  font-weight: 510;
}

.contenedorPeliculas {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  flex: 1 1 calc(20% - 20px);
  margin: 10px;
  display: flex;
  height: 400px;
}

.overlay {
  max-height: 400px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3)
  );
  padding: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 20px 20px 0 0;
}

.card:hover .overlay {
  opacity: 1;
}

/* Estilos para telefonos */
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  nav {
    top: auto;
    bottom: 0; /* Mueve el nav a la parte inferior */
    justify-content: space-between;
  }

  nav h2 {
    display: none;
  }

  nav select {
    display: none;
  }
  .card {
    flex: 1 1 calc(90% - 20px);
    height: 550px;
    background-size: contain;
  }
  .overlay {
    height: 100%;
  }
}

/* Estilos para tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    flex: 1 1 calc(30% - 20px);
  }
  .overlay {
    height: 100%;
  }
}
